<%- pbi_id = "pbi_#{pbi.id}" -%>
<table id="<%= pbi_id %>" class="<%= pbi.post_it_css_class(:rotate => true, :scale => true) %>" data-issue-status="<%= pbi.status.id %>">
  <tr>
    <td class="content">
      <%= link_to_issue(pbi, :tracker => false, :truncate => 150) %>
    </td>
  </tr>
  <tr>
    <td class="estimation">
      <%- if pbi.has_story_points? -%>
        <%= render :partial => "common/scrum_story_points", :formats => [:html],
                   :locals => {:project => project, :pbi => pbi} %>
        <span title="<%= l(:label_story_point_plural) %>"><%= l(:label_story_point_unit) %></span>
      <%- end -%>
    </td>
  </tr>
</table>

<%= render :partial => "post_its/sprint_board/pbi_context_menu", :formats => [:html],
           :locals => {:project => project,
                       :pbi => pbi,
                       :pbi_id => pbi_id} %>
