<%= back_url_hidden_field_tag %>
<%= error_messages_for "sprint" %>

<div class="box tabular">
  <p><%= f.text_field :name, :size => 60, :required => true %></p>
  <p><%= f.text_area :description, :rows => 8, :class => 'wiki-edit' %></p>
  <%= wikitoolbar_for 'sprint_description' %>
  <p>
    <%= f.text_field :start_date, :size => 10, :required => true %>
    <%= calendar_for "sprint_start_date" %>
  </p>
  <p>
    <%= f.text_field :end_date, :size => 10, :required => true %>
    <%= calendar_for "sprint_end_date" %>
  </p>
  <p>
	<%= f.check_box :is_locked %>
  </p>
</div>
